html{
    font-size: 14px;
}

body{
    background: #f7f7f7;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: rgb(46, 52, 54);
    margin: 0px;
}

h2{
    font-size: 1.4285714286rem;
    font-weight: 900;
}

.projectinfodiv, .profileinfodiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#profile{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#profileleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#profileright{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#project{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projectstatusdiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[name="happiness"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.happinessemoji{
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
}

.happinessemoji:hover{
    font-size: 22px;
}

input[name="happiness"]:checked + label{
    color: orange;
}

#navcontainer{
    height: 55px;
}

nav{
    height: 100%;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgb(46, 52, 54);
}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: 0px;
    padding-left: 20px;
    height: 100%;
}

nav > ul li{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

nav > ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.standardmenu{
    padding-top: 20px;
    display: block;
    order: 1;
}

#profileimage{
    margin-right: 20px;
    display: inline;
    order: 1;
}

#profileimage a div{
    margin-top: 5px;
    height: 47px;
}

#profileimage img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid rgb(46, 52, 54);
}

.activemenu{
    height: 6px;
    background: black;
    order: 2;
    transition: background 0.5s ease-in-out;
}

.menuitem{
    height: 100%;
}

/* .menuitem:firstchild{ */
/*     padding-top: 20px; */
/* } */

.activemenunotprofile{
    order: 2;
    height: 3px;
    background: black;
    transition: background 0.5s ease-in-out;
}

.navelementselected{
    margin-top: 15px;
}

#profilemenu{
    margin-left: -158px;
    /* margin-top: 100px; */
    width: 200px;
    top:56px;
    position: absolute;
    background-color: white;
}

#profilemenu ul{
    display:flex;
    flex-direction: column;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 0px;
    padding-top: 0px;
}

#profilemenu ul li{
    padding-left: 10px;
    height: 50px;
    font-weight: 600;
}

#profilemenu ul li a{
    display: block;
    margin-top: 14px;
    margin-bottom: 14px;
}

#linktonotebook{
    margin-left: auto;
}

.profilemenuelement{
    text-decoration: none;
    color: rgb(46, 52, 54);
}

.profilemenuelement:hover{
    cursor: pointer;
}

#userprofile{

    display: grid;
    grid-template-columns: 175px 510px 250px;

}

#profileleft .profileimage img{
    max-width: 102px;
}

#content{
    width: 960px;
    margin: auto;
    padding-top: 35px;
}

.genericbutton{
    background: rgb(218, 247, 243);
    outline: none;
    border-radius: 0px;
    border: 1px solid  rgb(46, 52, 54);
    font-family: "Inter";
    font-size: 12px;
    padding: 4px 5px;
}

#profileleft .genericbutton{
    width: 112px;
}

#usernickname{
    display: grid;
    grid-template-columns: 175px 510px 250px;
    text-align: center;
}
